*{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background-color: rgb(33, 33, 33);

}

.posts-container{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 30%));
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 3%;
    row-gap: 5%;
    /* background-color: rgb(255, 255, 255); */
    margin: 5%;
    padding: 1%;
    padding-bottom: 3.5%;
}

.post-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(241, 0, 0); */
    border-radius: 1px;
    max-width:  100%;
    flex-shrink: 1;
    overflow: auto;
}

.post{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color:rgb(33, 33, 33);
    padding: 1%;
    margin: 0.5%;
    border-radius: 5px 5px 1px 1px;
    /* box-shadow: 6px 6px 20px 5px rgba(255, 255, 255, 0.061); */
    border-bottom: 4px solid  rgb(255, 208, 0);
    max-width: 100%;
    flex-shrink: 1;
    padding: 5%;
    text-align: center;
    position: static;
    overflow:hidden;
}

.post-img-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0px 90px 10px 30px;
    /* border-bottom: 2px solid rgba(245, 245, 245, 0.563);
    border-right: 2px solid rgba(245, 245, 245, 0.66);
    border-left: 1px solid rgba(245, 245, 245, 0.413);
    border-top: 1px solid rgba(245, 245, 245, 0.348); */
    overflow: hidden;
    height: 300px;
}

.post-img-container  img{

    object-fit: cover;
    justify-content: center;
    max-width: 100%;
    max-height: 300px;
}

.post-title-container{

}

.post-title-container h1{
    font-size: 300%;

}

.post-description-container{


    overflow:hidden;
}

.post-description-container p{

    font-size: x-large;
    overflow-y: auto; 
    max-height: 150px; /* Maximum height for the text section */
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limits the number of lines for long text */
    -webkit-box-orient: vertical;

}

.post-description-container p::-webkit-scrollbar{
    width: 0;
}

